<main id="screen-loader">
  <a
    href="/"
    style="position: absolute; top: 2rem; left: 2rem; color: #fff; text-decoration: none; font-size: 1.2rem; display: flex; align-items: center; gap: 0.5rem;"
  >
    <i class="bi bi-arrow-left"></i>
  </a>
  <h1 class="text-4xl font-bold font-title">TheGoodShop</h1>
</main>

<style>
  main {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-size: 1.5rem;
    color: #555;
    background-color: #303030;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 9999;
  }
  main.fade-out {
    animation: fadeOut 0.7s forwards;
    pointer-events: none;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
      filter: blur(0);
    }
    100% {
      opacity: 0;
      filter: blur(3px);
    }
  }
  h2 {
    font-weight: 500;
    animation: pulse 1s infinite;
  }
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
</style>
